<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.RouteMapper">

<!-- 루트id로 insert -->
	<insert id="insertRoute" parameterType="route">
		<selectKey keyProperty="routeId" resultType="int" order="AFTER">
			select route_seq.currval as routeId from dual
		</selectKey>
		insert into route
		values(#{userId}, route_seq.nextval, #{routeName},
		#{startLat}, #{startLng}, #{startAddress},
		#{arriveLat}, #{arriveLng}, #{arriveAddress},
		#{distance}, #{time})
	</insert>
	
<!-- 루트id로 all delete -->
	<delete id="deleteRoute" parameterType="int">
		delete from route where
		route_id=#{routeId}
	</delete>

<!-- 루트id로 all select -->
	<select id="selectRoute" resultMap="selectRoutemap"
		parameterType="int">
		select route_id, user_id, route_name, start_lat, start_lng, start_address,
		arrive_lat, arrive_lng, arrive_address,
		distance, time
		from route where route_id = #{routeId}
	</select>
	
<!-- 유저id로 all select step vehicle 조인해서 다가져와야댐-->	
	<select id="selectRouteUserId" resultMap="selectRoutemap"
		parameterType="string">
		select route_id, user_id, route_name, start_lat, start_lng, start_address,
		arrive_lat, arrive_lng, arrive_address,
		distance, time
		from route where user_id = #{userId}
	</select>


	<resultMap type="Route" id="selectRoutemap">
		<id column="route_id" property="routeId" />
		<result column="user_id" property="userId" />
		<result column="route_name" property="routeName" />
		<result column="start_lat" property="startLat" />
		<result column="start_lng" property="startLng" />
		<result column="start_address" property="startAddress" />
		<result column="arrive_lat" property="arriveLat" />
		<result column="arrive_lng" property="arriveLng" />
		<result column="arrive_address" property="arriveAddress" />
		<result column="distance" property="distance" />
		<result column="time" property="time" />
	</resultMap>

</mapper>