<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.RouteMapper">

	<!-- 루트id로 insert -->
	<insert id="insertRoute" parameterType="route">
		<selectKey keyProperty="routeId" resultType="int" order="AFTER">
			select route_seq.currval as routeId from dual
		</selectKey>
		insert into route
		values(#{userId}, route_seq.nextval, #{routeName},
		#{startLat}, #{startLng}, #{startAddress},
		#{arriveLat}, #{arriveLng},
		#{arriveAddress},
		#{distance}, #{time})
	</insert>

	<!-- 루트id로 all delete 3 -->
	<delete id="deleteRouteRouteId" parameterType="int">
		delete from route where route_id=#{routeId}
	</delete>
	<delete id="deleteRoute" parameterType="int">
		delete from route where
		route_id=#{routeId}
	</delete>


	<!-- 루트id로 all select -->
	<select id="selectRoute" resultMap="selectRoutemap"
		parameterType="int">
		select route_id, user_id, route_name, start_lat,
		start_lng, start_address,
		arrive_lat, arrive_lng, arrive_address,
		distance, time
		from route where route_id = #{routeId}
	</select>

	<!-- 유저id로 all select step vehicle 조인해서 다가져와야댐 -->
	<select id="selectRouteUserId" resultMap="selectRoutemapComplex"
		parameterType="string">
		select r.route_id, r.user_id, r.route_name, r.start_lat,
		r.start_lng,
		r.start_address,
		r.arrive_lat, r.arrive_lng,
		r.arrive_address,
		r.distance, r.time,
		s.step_id, s.sroute_id, s.vmode,
		s.step_name, s.sstart_lat, s.sstart_lng,
		s.send_lat, s.send_lng,
		s.route_distance, s.route_time, s.seq,
		v.vehicle_id, v.vstep_id,
		v.vstart_lat, v.vstart_lng, v.vstart_name,
		v.vend_lat, v.vend_lng,
		v.vend_name, v.headsign, v.vehicle_name, v.vehicle_num,
		v.vehicle_move
		from route r
		left join step s on r.route_id=s.sroute_id
		left join
		vehicle v on
		s.step_id=v.vstep_id
		where user_id = #{userId}
	</select>
	
<!-- 유저id로 all select step vehicle 조인해서 다가져와야댐 -->
	<select id="selectRouteDetail" resultMap="selectRoutemap"
		parameterType="int">
		select r.route_id, r.user_id, r.route_name, r.start_lat,
		r.start_lng,
		r.start_address,
		r.arrive_lat, r.arrive_lng,
		r.arrive_address,
		r.distance, r.time,
		s.step_id, s.sroute_id, s.vmode,
		s.step_name, s.sstart_lat, s.sstart_lng,
		s.send_lat, s.send_lng,
		s.route_distance, s.route_time, s.seq,
		v.vehicle_id, v.vstep_id,
		v.vstart_lat, v.vstart_lng, v.vstart_name,
		v.vend_lat, v.vend_lng,
		v.vend_name, v.headsign, v.vehicle_name, v.vehicle_num,
		v.vehicle_move
		from route r
		left join step s on r.route_id=s.sroute_id
		left join vehicle v on s.step_id=v.vstep_id
		where r.route_id= #{routeId}
	</select>
	
	<!-- routename, routeid 를 이용하여 버튼으로 루트 목록하는거 -->
	<!-- routename클릭시 routeid로 route 띄움 -->
	<select id="selectRouteNameListUserId" resultMap="selectRoutemap"
		parameterType="String">
		select route_name, route_id
		from route where user_id =
		#{userId}
	</select>
	
		<!-- 유저id로 all select step vehicle 조인해서 다가져와야댐 -->
	<select id="selectRouteComplex" resultMap="selectRoutemapComplex" parameterType="int">
		select r.route_id, r.user_id, r.route_name, r.start_lat, r.start_lng,
		r.start_address,
		r.arrive_lat, r.arrive_lng, r.arrive_address,
		r.distance, r.time,
		s.step_id, s.sroute_id, s.vmode, s.step_name, 
		
		s.sstart_lat, 
		s.sstart_lng,
		
		s.send_lat, s.send_lng, s.route_distance, s.route_time, s.seq,
		v.vehicle_id, v.vstep_id, v.vstart_lat, v.vstart_lng, v.vstart_name,
		v.vend_lat, v.vend_lng,
		v.vend_name, v.headsign, v.vehicle_name, v.vehicle_num, v.vehicle_move
		from route r
		left join step s on r.route_id=s.sroute_id
		left join vehicle v on s.step_id=v.vstep_id
		where r.route_id = #{routeId}
	</select>
	



	<resultMap type="Route" id="selectRoutemap">
		<id column="route_id" property="routeId" />
		<result column="user_id" property="userId" />
		<result column="route_name" property="routeName" />
		<result column="start_lat" property="startLat" />
		<result column="start_lng" property="startLng" />
		<result column="start_address" property="startAddress" />
		<result column="arrive_lat" property="arriveLat" />
		<result column="arrive_lng" property="arriveLng" />
		<result column="arrive_address" property="arriveAddress" />
		<result column="distance" property="distance" />
		<result column="time" property="time" />
	</resultMap>
	

	

	<resultMap type="Route" id="selectRoutemapComplex" extends="selectRoutemap">
		<collection property="stepList" ofType="step" resultMap="com.example.StepMapper.selectStepComplex"/>
	</resultMap>
</mapper>