<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.TimetableMapper">
	<!-- <insert id="insert" parameterType="timetable"> insert into timetable 
		values(#{userId}, #{mon}, #{tue}, #{wed}, #{thu}, #{fri}, #{scheduleType}) 
		</insert> -->

	<insert id="insertTotal" parameterType="TimetableTotal">
		insert into
		timetabletotal
		values(#{userId},
		#{sMon}, #{sTue}, #{sWed}, #{sThu}, #{sFri},
		#{aMon}, #{aTue}, #{aWed}, #{aThu}, #{aFri})
	</insert>


	<!-- <select id="select" resultMap="selectTimetablemap" parameterType="string"> 
		select user_id, mon, tue, wed, thu, fri, schedule_type from timetable where 
		user_id = #{userId} </select> <select id="selectTimetableList" resultMap="selectTimetablemap" 
		parameterType="String"> select user_id, mon, tue, wed, thu, fri, schedule_type 
		from timetable where user_id = #{userId} </select> -->

	<select id="getTimetableTotalmapbyId" resultMap="getTimetableTotalmap"
		parameterType="TimetableTotal">
		select user_id, s_mon, s_tue, s_wed, s_thu, s_fri,
		a_mon, a_tue, a_wed, a_thu, a_fri
		from timetabletotal where user_id = #{userId}
	</select>

	<delete id="delete" parameterType="int">
		delete from timetable where
		user_id=#{userId}
	</delete>

	<update id="update" parameterType="TimetableTotal">
		update timetabletotal set user_id=#{userId},
		s_mon=#{sMon},s_tue=#{sTue},s_wed=#{sWed},s_thu=#{sThu},s_fri=#{sFri},
		a_mon=#{aMon},a_tue=#{aTue},a_wed=#{aWed},a_thu=#{aThu},a_fri=#{aFri}
		where user_id=#{userId}
	</update>

	<!-- <resultMap type="Timetable" id="selectTimetablemap"> <id column="user_id" 
		property="userId" /> <result column="mon" property="mon" /> <result column="tue" 
		property="tue" /> <result column="wed" property="wed" /> <result column="thu" 
		property="thu" /> <result column="fri" property="fri" /> <result column="schedule_type" 
		property="scheduleType" /> </resultMap> -->
	<resultMap type="timetabletotal" id="getTimetableTotalmap">
		<id column="user_id" property="userId" />
		<result column="s_mon" property="sMon" />
		<result column="s_tue" property="sTue" />
		<result column="s_wed" property="sWed" />
		<result column="s_thu" property="sThu" />
		<result column="s_fri" property="sFri" />
		<result column="a_fri" property="aMon" />
		<result column="a_fri" property="aTue" />
		<result column="a_fri" property="aWed" />
		<result column="a_fri" property="aThu" />
		<result column="a_fri" property="aFri" />
	</resultMap>
</mapper>